@keyframes progress-animation {
    0% {
        background-position: 1rem 0;
    }
    100% {
        background-position: 0 0;
    }
}

.progress-bar-animated {
    background-image: linear-gradient(
        45deg,
        hsla(0, 0%, 100%, 0.15) 25%,
        transparent 25%,
        transparent 50%,
        hsla(0, 0%, 100%, 0.15) 50%,
        hsla(0, 0%, 100%, 0.15) 75%,
        transparent 75%,
        transparent
    );
    background-size: 1rem 1rem;
    animation: progress-animation 1s linear infinite;
}
